        body {
    		text-align: center;
    		font-family: 'Source Sans Pro', sans-serif;
    		color: #fff;
    		background-color: #1A202C;
		}
        .main {
            position: fixed;
            top: 5%;
            left: 20%;
            width: 60%;
        }

        .icons {
            display: flex;
            flex-direction: row;
        }

        .righticons {
            display: flex;
            position: absolute;
            flex-direction: row;
            justify-content: flex-end;
            right: 0;
        }

        .lefticons {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        .centerbuttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        .space {
            width: 10px;
            height: 50px;
        }