<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
      <meta name="description" content="This version is a new, fast and completely rewritten API, originally by Vixen, which was discontinued." />
      <meta charset="utf-8">
      <title>Captcha API</title>
      <link rel="icon" href="./assets/img/logo.png">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="./assets/css/style.css">
      <style>
         @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
      </style>
      <title>API Docs</title>
   </head>
   <body>
      <style>
         body {
                background: #000;
                color: #fff;
            }
      </style>
      <center>
         <h1>Captcha API Documentation</h1>
         <h1>──────────────────────────────</h1>
         <br>
         <h2><i>About the API</i></h2>
         <p>
            As of now, our API provides 2 official endpoints:
            <br>
            <br>
         <p>
            - get_image
            <br>
            - api/img
         </p>
         The API is written in a micro python-framework, Flask. <br>
         <strong>GET_IMAGE</strong> endpoint is pretty much useless on its own unless used with the second API endpoint. <br>
         <strong>API/IMG</strong> endpoint will retrieve a response formatted JSON-like. <br>
         It will contain a direct URL to the image and the captcha solution. <br>
         For support please join our discord found on the main page. <br>
         You may view the API source code on the github page:
         <br>
         <br>
         <a class="btn btn-primary" href="https://www.github.com/Ammar-sys/essentials_api" target="_blank" role="button">Github Page</a>
         <br>
         <br>
         <br>
         <h2><i>API Usage examples</i></h2>
         <br>
         <p><i>Python</i></p>
         <img align="center" src="https://i.gyazo.com/ca0ab340ca7772a1d18e74984185245f.png">
         <br>
         <br>
         <p><i>Node.js</i></p>
         <img src="https://i.gyazo.com/2cec32588a9e63cc6f10cdcf8eebad51.png">
      </center>
   </body>
</html>
