<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invalid usage</title>
</head>
<body>
    <style>
        h2 {
            font-size: 40px;
        }
        p {
            font-size: 60px;
        }
        body {
            background: #000;
            color: #fff;
        }
        a {
            font-size: 40px;                       
        }
    </style>
    <div>
        <center>
            <br><br><br><br><br><br>
            <h2>Uh-oh, it seems like you've used the API incorrectly. <br> Maybe check out the documentations?</h2>
            <br><p>🠗</p><br>
            <a href="http://127.0.0.1:5000/docs">http://127.0.0.1:5000/docs</a>
        </center>
    </div>
</body>
</html>
