<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/examples.css') }}">
    <script src="https://kit.fontawesome.com/1d02673a32.js" crossorigin="anonymous"></script>
    <title>Captcha API</title>
</head>
<body>
    <script>

        function red(toWhere) {
            window.location.href = `${toWhere}`
        }

    </script>
    <div class="main">
        <div class="icons">
            <div class="lefticons">
                <button onclick="red('https://discord.gg/Fh5gmXQ')" type="button" class="btn btn-dark" style="width: 50px; height: 50px;"><i class="fab fa-discord"></i></button>
                <label class="space"></label>
                <button onclick="red('https://github.com/ammarsys/captchaapi')" type="button" class="btn btn-dark" style="width: 50px; height: 50px;"><i class="fab fa-github"></i></button>
            </div>

            <div class="righticons">
                <button onclick="red('/')" type="button" class="btn btn-dark" style="width: 50px; height: 50px;"><i class="fas fa-home"></i></button>
            </div>
        </div>

        <br><br><br>

        <h1>Examples</h1>
        <br>

        <button type="button" class="btn btn-secondary" style="min-width: 50%; background: #394660;"
                    onclick="
                    red('https://paste.gg/p/anonymous/aae01d196d8a4ecf8023b9ec0115161f')">
                d.py</button>
        <br><br>
        <button type="button" class="btn btn-secondary" style="min-width: 50%; background: #394660;"
                    onclick="
                    red('https://paste.gg/p/anonymous/61dbea892ba64cfdbd11aae18094a9d1')">
                vanilla.js</button>
        <br><br>
        <button type="button" class="btn btn-secondary" style="min-width: 50%; background: #394660;"
                onclick="red('https://paste.gg/p/anonymous/a8cfbf7b8e124cbbad1b8fb73892309d')">
                flask.py</button>
        <br><br>
    </div>
</body>
</html>