<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>oxycaptcha</title>
  <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>
<style>
    .btn {

                    cursor: pointer;
                    outline: 0;
                    color: #fff;
                    background-color: #616f83;
                    border-color: #616f83;
                    display: inline-block;
                    font-weight: 400;
                    line-height: 1.5;
                    text-align: center;
                    border: 1px solid transparent;
                    padding: 6px 12px;
                    font-size: 16px;
                    border-radius: .25rem;
                    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                    :hover {
                        color: #fff;
                        background-color: #0b5ed7;
                        border-color: #0a58ca;
                    }

    }

</style>

<body class="stackedit" style="background-color: #22272e; color: white">
  <div class="stackedit__html">

      <div align="center">
          <h1 id="oxycaptcha"><span style="color: #1a68c5;">oxy</span>captcha</h1>
<p style="margin-top: -5%;"><i>Fast, secure, adaptable captcha API made with Flask.</i></p>
<p><img src="https://cdn.discordapp.com/attachments/995797406404857977/1104183215377354762/image.png" alt="image"></p>
<p><a href="https://www.python.org/"><img src="https://img.shields.io/badge/Made%20with-Python-1f425f.svg" alt="made-with-python"></a>
    <a href="https://opensource.org/licenses/MIT"><img src="https://img.shields.io/badge/License-MIT-yellow.svg" alt="License: MIT"></a></p>
</div>
<p>This is a free-to-use, integrate-yourself Captcha API built with Python.
    It provides a Captcha, and it’s solution, which makes it possible to be implemented anywhere with a bit of work (e.g. webapps, Discord Bots).</p>
<p>You can find the projects’ GitHub repository <a href="https://github.com/ammarsys/oxycaptcha">here</a>.</p>
<h2 id="usage">Usage</h2>
      <button type="button" onclick="window.open('/api/v5/captcha')" class="btn">Click to go to the main API route</button>
<p>The usage really boils down to making simple HTTP requests,</p>

<pre class=" language-py"><code class="prism  language-py"><span class="token keyword">import</span> requests
<span class="token keyword">from</span> io <span class="token keyword">import</span> BytesIO
<span class="token keyword">from</span> PIL <span class="token keyword">import</span> Image

captcha_data <span class="token operator">=</span> requests<span class="token punctuation">.</span>post<span class="token punctuation">(</span>
    <span class="token string">"https://oxycaptcha.pythonanywhere.com/api/v5/captcha"</span>
<span class="token punctuation">)</span><span class="token punctuation">.</span>json<span class="token punctuation">(</span><span class="token punctuation">)</span>
captcha_image_content <span class="token operator">=</span> requests<span class="token punctuation">.</span>get<span class="token punctuation">(</span>captcha_data<span class="token punctuation">[</span><span class="token string">"cdn_url"</span><span class="token punctuation">]</span><span class="token punctuation">)</span><span class="token punctuation">.</span>content

<span class="token comment"># Show the image to the user</span>
Image<span class="token punctuation">.</span><span class="token builtin">open</span><span class="token punctuation">(</span>BytesIO<span class="token punctuation">(</span>captcha_image_content<span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">.</span>show<span class="token punctuation">(</span><span class="token punctuation">)</span>
attempt <span class="token operator">=</span> <span class="token builtin">input</span><span class="token punctuation">(</span><span class="token string">"What does the captcha say? &gt;&gt; "</span><span class="token punctuation">)</span>

solution_check <span class="token operator">=</span> requests<span class="token punctuation">.</span>post<span class="token punctuation">(</span>
    captcha_data<span class="token punctuation">[</span><span class="token string">"solution_check_url"</span><span class="token punctuation">]</span><span class="token punctuation">,</span>
    json<span class="token operator">=</span><span class="token punctuation">{</span><span class="token string">"attempt"</span><span class="token punctuation">:</span> attempt<span class="token punctuation">}</span>
<span class="token punctuation">)</span><span class="token punctuation">.</span>json<span class="token punctuation">(</span><span class="token punctuation">)</span>

<span class="token keyword">if</span> solution_check<span class="token punctuation">[</span><span class="token string">"case_sensitive_correct"</span><span class="token punctuation">]</span> <span class="token operator">==</span> <span class="token boolean">True</span><span class="token punctuation">:</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"Good job! That attempt was right."</span><span class="token punctuation">)</span>
<span class="token keyword">else</span><span class="token punctuation">:</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"Err, not quite."</span><span class="token punctuation">)</span>
</code></pre>

<h2 id="api-documentations">API Documentations</h2>
<p>You can find the API documentations <a href="https://oxycaptcha.pythonanywhere.com/docs">here</a>.</p>
<h2 id="contributing">Contributing</h2>
<p>Contributions are always welcome! In the <a href="https://github.com/ammarsys/oxycaptcha/blob/main/CONTRIBUTING.md">CONTRIBUTING.md</a>, you will find instructions &amp; current TODO list.</p>
</div>
</body>

</html>
